{% extends 'core/base.html' %}  

{% block title %}Contacto{% endblock %}

{% block background%}{% load static %}{% static 'core/img/contactd.jpg' %}{% endblock %}

{% block headers %}
       <h1>Contacto</h1>
       <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>"Un gran poder conlleva una gran responsabilidad"</p>
          <br>
          <p><b>Teléfono:</b> +593 99 564 5749</p>
          <p><b>Estudiante<p>
        </div>
      </div>
    </div>
{% endblock %}
